.Card{
    flex: 1;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffff;
    margin: 20px;
    text-justify: auto;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
}
.Card .Footer{
    background-color: #000;
    color: #ffff;
    padding: 5px 0px;
}
.Card .Conteudo{
    flex:1;
    padding:15px 0px;
    color: #000;
}