 .Login{
    color: black;
 }
 .container .box {
        width:540px;
        margin:50px;
        display:table;
    }
      .container .box .box-row {
        display:table-row;
    }
    .container .box .box-cell {
        display:table-cell;
        border:1px solid black;
        width:25%;
        padding:10px;
    }
    input{
        color: gray;
        border-radius: 1px;
        
    }

    .button{
        background-color: black;
        color: aliceblue;
    }
    form{
        align-items: center;
    }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }
